header{
  background-color: #373737;
  width: 100%;
}
header h1{
  margin: 0;
  padding: 0.2em;
}
header h1 a{
  color: inherit !important;
  text-decoration: none;
  opacity: 0.78;
}
header h1 a:link{
  color: inherit !important;
  text-decoration: none;
  opacity: 0.78;
}
header h1 a:hover{
  color: inherit !important;
  text-decoration: none;
  opacity: 1;
}
header .navbar-nav{
  padding-left: 0.2em;
}
@media screen and (min-width: 992px) {
  aside{
    height: 1100px;
  }
}
aside{
  background-color: #f2f2ea;
}
aside ul{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
aside ul a{
  color: inherit;
  text-decoration: none !important;
}
aside ul li{
  line-height: 3em;
}
aside .shelf-icons{
  width: 20%;
  text-align: center;
}
aside .shelf-icons .active{
  background-color: #de6262;
  color: #fff;
}
aside .shelf-icons li{
  border-bottom: 1px solid #d4d5d0;
}
aside .shelves{
  width: 80%;
}
aside .shelves li{
  padding-left: 1em;
  border-bottom: 1px solid #d4d5d0;
  border-left: 1px solid #d4d5d0;
}
aside .add-shelf{
  text-align: center;
  text-transform: uppercase;
}
aside .add-shelf a{
  color: inherit;
}
aside .panel{
  overflow: hidden;
  margin-bottom: 1%;
}
aside .tools li{
  display: inline;
  text-transform: capitalize;
  padding: 0.2em;
}
aside .tools ul{
  text-align: center;
}
aside hr{
  margin-bottom: 0.5em;
}
@media screen and (min-width: 992px) {
  aside .edit-panel{
    max-height: 350px;
  }
}
@media screen and (max-width: 992px) {
  aside .edit-panel{
    max-height: 250px;
  }
}
aside .edit-panel{
  width: 99%;
  overflow-y: scroll;
  background: #fff;
  margin: 0 auto;
}
aside .edit-panel dl{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
aside .edit-panel dl .field-title{
  padding:0.5em;
}
aside .edit-panel dl .file-button{
  width: 50%;
  margin: 0 25%;
}
aside .edit-panel dt{
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
  overflow: hidden;
  text-align: center;
  line-height: 35px;
}
aside .edit-panel dd{
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
  overflow: hidden;
}
aside .edit-panel h2{
  margin-bottom: 1em;
}
 /*.desk {
  width: 80%;
  background: #ccc;
  background: url('/img/desk_wooden.jpg');
  background-size: cover;
  background-position: 50% 50%;
  transition: .5s;
  position: relative;
  margin: 0 auto;

}*/
 .desk h2{
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.2em;
}
 .desk ul{
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    display:flex;
    margin-right: 2em !important;
    margin: 0 auto;
}
 .desk ul li{
    list-style: none;
    margin: 0 40px;
}
 .desk ul li a .fa{
    font-size: 40px;
    color: #262626;
    line-height: 60px;
    transition: .5s;
}
 .desk ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
 .desk ul li a:before{
  content: 'cv';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: .5s;
  transform:  rotate(0deg) skewY(-45deg);
}
 .desk ul li a:after{
  content: 'nyau';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: .5s;
  transform:  rotate(0deg) skewX(-45deg);
  line-height: 20px;
}
 .desk ul li a:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}
 /*.desk ul li:nth-child(1) a{
  background-color: #3b5999;
}
 .desk ul li:nth-child(1):before a{
  background-color: #2e4a86;
}*/
.desk  .active a{
 transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
 box-shadow: -50px 50px 50px rgba(0,0,0,.5);
 background-color: #d9534f !important;
}
.tools h2{
 text-align: center;
 margin-bottom: 1em;
}
@media screen and (min-width: 992px) {
  main{
    height: 1100px;
  }
}
main{
  background-color: #f2f2f0;
  border-top: 5px solid #df6260;
  border-right: 1px solid #d4d5d0;
  overflow: hidden;
}
main h1{
  background-color: #f7f6f2;
  border-bottom: 1px solid #d4d5d0;
  line-height: 1.5em;
  font-size: 1.6em;
}
main h1 .icn{
  margin-left: 1em;
  margin-right: 0.2em;
  font-size: 0.8em;
}
main h1 .tag{
  margin-right: 1em;
  font-size: 0.5em;
}
main .biz-card{
  /*width: 65%;*/
  width: 440px !important;
  margin: 0 auto;
  border-radius: 0;
}
main .biz-card h2{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
}
main .biz-card h3{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 0.6em;
  padding-right: 1em;
  text-transform: uppercase;
}
main .qr{
  width: 100px;
  height: 100px;
  margin: 0 auto 0 auto;
}
main .bar1{
  width: 59px;
  height: 18px;
  background-color: #fff;
  margin:36px 1px 0 0;
}
main .bar2{
  width: 260px;
  height: 18px;
  margin: 36px 0 0 1px;
}
main .card-details ul{
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
  margin-bottom: 0.2em;
}
main .card-details li{
  opacity: 1;
  cursor: default;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
}
main .controls{
  width: 65%;
  text-align: center;
  margin: 2% auto;
}
main .controls a{
  color: inherit;
}
main .cv{
  width: 595px;
  background-color: #fff;
  margin: 1em auto;
}
main .cv dl{
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
  overflow: hidden;
  border-bottom: 2px dotted #4A90E2;
}
main .cv dl:hover{
  border: 0;
  border:1px solid red;
  cursor: pointer;
}
.active_cv_area{
  border: 0 !important;
  border:0.5px solid red !important;
  cursor: pointer !important;
}
main .cv dt{
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
}
main .cv dd{
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
}
main .cv dd ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.8em;
  text-align: right;
}
main .cv h2{
  font-size: 2.3em;
}
main .cv dd li{
}
main .cv p{
  padding-top: 1em;
}
main .cv h3{
  padding-top: 1em;
  font-size: 1.5em;
}
main .letter{
  width: 595px;
  background-color: #fff;
  margin: 1em auto;
  padding: 1em;
}
main .letter address ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
main .letter h2{
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
main .letter p{
  text-align: justify;
}
main .website{
  overflow: hidden;
  background: #fff;
}
main .website header{
  overflow: hidden;
  background: #EEEEEE;
}
main .website .smooth{
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}
main .website header ul{
}
main iframe{
  width:100%;
  height:100%;
}
main li{
  padding-left: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.8;
}
main li:hover{
  opacity: 1;
}
footer{
  width: 100%;
  background-color: #373737;
}
footer h2{
  color: #fff;
  font-size: 1em;
  text-align: center;
}
footer ul{
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}
footer li{
  display: inline;
  padding-right: 5px;
}
footer li a{
  color: inherit;
}
footer li a:hover{
  color: inherit;
}
.edit-pane{
  overflow: hidden;
  background: red;
  position: fixed; /* or absolute */
  top: 6%;
}
.account-nav a{
  color: #fff;
}
.account-nav li{
  color: #fff;
}
.account-nav {
  text-align: right;
}
.account-nav li{
  padding-right: 2%;
}
.edit-form-sec{
  background: #fff;
  border: 1px solid #46C1FD;
  border-radius: 5px;
  max-height: 780px;
  overflow-y: auto;
}
.edit-form-sec h2{
  text-align: center;
  font-size: 1.4em;
  margin: 1em 0;
}
.edit-form-sec form{
  width: 80%;
  margin: 0 auto;
}
.item-controls{
  text-align: center;
  margin-top: 1em;
}
.item-controls li{
  padding: 0 1em;
}
.cv-sec{
  font-size: 1em;
  color:#fff;
  background: #4A90E2;
  padding: 0.5em;
  text-transform: uppercase;
  margin-top: 1em;
}
.title-addon{
  font-size: 0.6em;
}
.cv-theme-color{
  color: #4A90E2 !important;
}
.no-padding{
  padding: 0 !important;
}
.no-border{
  border: 0!important;
}
.no-display{
  display: none !important;
}
.pl1{
  padding-left: 1em !important;
}
.pl2{
  padding-left: 2em !important;
}
.pl3{
  padding-left: 3em !important;
}
.pl4{
  padding-left: 4em !important;
}
.pl5{
  padding-left: 5em !important;
}
.pr1{
  padding-right: 1em !important;
}
.pr2{
  padding-right: 2em !important;
}
.pr3{
  padding-right: 3em !important;
}
.pr4{
  padding-right: 4em !important;
}
.pr5{
  padding-right: 5em !important;
}
.mb1{
  margin-bottom: 1em !important;
}
.mb2{
  margin-bottom: 2em !important;
}
.mb3{
  margin-bottom: 3em !important;
}
.mb4{
  margin-bottom: 4em !important;
}
.mb5{
  margin-bottom: 5em !important;
}
.desk .A a:before{
 content: 'A';
}
.desk .A a:after{
 content: 'Web';
}
.desk .B a:before{
 content: 'C';
}
.desk .B a:after{
 content: 'Card';
}
.desk .C a:before{
 content: 'B';
}
.desk .C a:after{
 content: 'Blog';
}
.desk .D a:before{
 content: 'D';
}
.desk .D a:after{
 content: 'Letter';
}
.desk .E a:before{
 content: 'E';
}
.desk .F a:before{
 content: 'F';
}
.dark-bg{
  background: #212121;
}
.light-bg{
  background: #424242;
}
.text-lower{
  text-transform: lowercase !important;
}
.max-height-150{
  max-height: 150px;
  overflow-y: scroll;
}
.padding2{
  padding:0 10px !important;
}
.prev-link{

}
.prev-link:hover{

}
.prev-link:visited{

}
.prev-link:link{

}
.pub-table td{

}
main .biz-card-design-2{
  width: 440px;
  background: #dbccb9;
  overflow: hidden;
  border: 2px solid #dbccb9;
}
main .biz-card-design-2 .panel{
  overflow: hidden;
  background: #444540;
  margin: 5% 0;
  border: 2px solid #444540;
}
main .biz-card-design-2 .content{
  padding: 5%;
  background: #0e1211;
  margin: 1.5% 0;
  color: #fff;
  font-family: sans-serif;
}
main .biz-card-design-2 .content h2{
  padding: 0;
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
}
main .biz-card-design-2 .content p{
  padding: 0;
  margin: 0;
  font-size: 16px;
}
main .biz-card-design-2 .content .line{
  height: 1px;
  background: #fff;
  margin: 4% 0;
}
main .biz-card-design-2 .content dl{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
main .biz-card-design-2 .content dt{
  margin: 0;
  width: 40%;
  padding: 0;
  float: left;
}
main .biz-card-design-2 .content dd{
  margin: 0;
  width: 60%;
  padding: 0;
  float: right;
}
main .biz-card-design-2 .content dt ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
main .biz-card-design-2 .content dt li{
  margin: 0;
  padding: 3px 0;
  list-style-type: none;
  opacity: 1;
  cursor: default;
  font-family: sans-serif;
  font-size: 10px;
}
main .biz-card-design-2 .content dd li{
  margin: 0;
  padding: 3px 0;
  list-style-type: none;
  opacity: 1;
  cursor: default;
  font-family: sans-serif;
  font-size: 10px;
}
main .biz-card-design-3{
  width: 440px;
  overflow: hidden;
  font-family: sans-serif;
}
main .biz-card-design-3 dl{
  margin: 0;
  padding: 0;
}
main .biz-card-design-3 dt{
  margin: 0;
  padding: 0;
  width: 30%;
  height: 207px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
main .biz-card-design-3 dd{
  margin: 0;
  padding: 2%;
  width: 70%;
  height: 207px;
  background: #fff;
  float: left;
  font-family:sans-serif;
}
main .biz-card-design-3 h2{
  font-size: 24px;
  margin: 2% 0;
  text-transform: uppercase;
  white-space: nowrap;
}
main .biz-card-design-3 .info{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
main .biz-card-design-3 .info dt{
  height: 115px;
  width:50%;
  margin: 0;
  padding: 0;
  float: left;
}
main .biz-card-design-3 .info dt li{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: sans-serif;
  font-size: 16px;
  opacity: 1;
  cursor: default;
}
main .biz-card-design-3 .info dd{
  height: 100px;
  width:100px;
  margin: 0;
  padding: 0;
  float: right;
}
main .biz-card-design-3 .info dd img{
  height: 100%;
  width:100%;
}
main .biz-card-design-3 ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: sans-serif;
  font-size: 12px;
  opacity: 1;
  cursor: default;
}
main .biz-card-design-3 li{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
}
main .biz-card-design-3 ul .dark-bg{
  background: #000;
  overflow: hidden;
}
main .biz-card-design-3 .dark-bg li{
  color:#fff;
  font-size: 12px;
  padding-left: 2%;
  opacity: 1;
  cursor: default;
}
/*new edit form*/
.new-edit-panel{
  position:absolute;
  z-index: 100;
  width: 100%;
}
.new-edit-panel h4 {
  text-align: center;
}
.new-edit-panel h4, label {
  color: #d9534f;
  text-transform: uppercase;
}
.new-edit-panel input,
.new-edit-panel input[type="radio"] + label,
.new-edit-panel input[type="checkbox"] + label:before,
.new-edit-panel select option,
.new-edit-panel select,
.new-edit-panel textarea{
  width: 100%;
  /*padding: 1em;*/
  /*line-height: 1.4;*/
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.new-edit-panel input:focus {
  outline: 0;
  border-color: #f0ad4e;
}
.new-edit-panel input:focus + .input-icon i {
  color: #d9534f;
}
.new-edit-panel input:focus + .input-icon:after {
  border-right-color: #d9534f;
}
.new-edit-panel input[type="radio"] {
  display: none;
}
.new-edit-panel input[type="radio"] + label,
{
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}
.new-edit-panel input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.new-edit-panel input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.new-edit-panel input[type="radio"] + label i {
  padding-right: 0.4em;
}
.new-edit-panel input[type="radio"]:checked + label,
.new-edit-panel input:checked + label:before,
 {
  background-color: #d9534f;
  color: #fff;
  border-color: #f0ad4e;
}
.new-edit-panel input[type="checkbox"] {
  display: none;
}
.new-edit-panel input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
.new-edit-panel input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
.new-edit-panel input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}
.new-edit-panel input:checked + label:after {
  opacity: 1;
}
.new-edit-panel select {
  height: 3.4em;
  line-height: 2;
}
.new-edit-panel select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.new-edit-panel select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.new-edit-panel select:focus,
.new-edit-panel select:active {
  outline: 0;
}
.new-edit-panel select option {

}
.new-edit-panel .input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.new-edit-panel .input-group:before,
.input-group:after {
  /*content: "";
  display: table;*/
}
.new-edit-panel .input-group:after {
  clear: both;
}
.new-edit-panel .input-group-icon {
  position: relative;
}
/*.new-edit-panel .input-group-icon input {
  padding-left: 4.4em;
}*/
.new-edit-panel .input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.new-edit-panel .input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.new-edit-panel .input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.new-edit-panel .container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 2em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.new-edit-panel .row {
  zoom: 1;
}
.new-edit-panel .row:before,
.row:after {
  content: "";
  display: table;
}
.new-edit-panel .row:after {
  clear: both;
}
.new-edit-panel .col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.new-edit-panel .col-half:last-of-type {
  padding-right: 0;
}
.new-edit-panel .col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.new-edit-panel .col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .new-edit-panel .col-half {
    width: 100%;
    padding-right: 0;
  }
}
#title-1,#title-2,#title-3,#title-4,#title-5,#title-6,#title-7{
  width: 100%;
  padding: 0.5em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  text-transform:uppercase;
}
#panel-2,#panel-3,#panel-4,#panel-5,#panel-6,#panel-7{
  display: none;

}
#panel-1{

}
.new-edit-form dt,dd{
  padding: 0;
  margin: 0;
  float: left;
}
.new-edit-form dl{
  width: 100%;
  overflow: hidden;
}
.new-edit-form dt{
  width: 30%;
  text-align: right;
  font-size: 1.4em;
  cursor: pointer;
}
.new-edit-form dd{
  width: 70%;
}
.help-contact{
  list-style-type: none;margin:0;padding:0;
}
.help-contact p{
  font-weight: bold;
}
/*end new edit form*/
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-top,
  .card-group > .card:first-child .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-bottom,
  .card-group > .card:first-child .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-top,
  .card-group > .card:last-child .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-bottom,
  .card-group > .card:last-child .card-footer {
    border-bottom-left-radius: 0;
  }
  .card-group > .card:only-child {
    border-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-top,
  .card-group > .card:only-child .card-header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-bottom,
  .card-group > .card:only-child .card-footer {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
    border-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
